
<h1><%= @page_title %></h1>
<%  @member.each do |m| %>
  <div>
    <h3><%= link_to m.first_name+" "+m.last_name,  member_path(m)%>
      <%=link_to "Edit",edit_member_path(m) ,:class => 'btn' %>
      <%=link_to "Delete",member_path(m), method: :delete ,:class => 'btn' %>
    </h3>
  </div>
<%end %>